<div style="height: 500px;" id="clearance" class="sign-in">
<img height="655px;" width="1367px;" style="margin-left:-115px;" src="http://www.imagewa.com/PhotoPreview/367/367_56025.jpg">
  <%= render partial: '/sessions/form' %>
</div>
