<div id="clearance" class="password-reset">
  <div class="yield">
    <%= form_for @user_fly, url: 'update' do |form| %>
      <div class="text-field" style="font-weight: bold;font-size:16px;margin-top:55px;">
        <%= form.label :email,'邮箱' %>
        <%= form.text_field :email, type: 'email', :class => "form-control" %>
      </div>
      <div class="password-field" style="font-weight: bold;font-size:16px;margin-top:5px;">
        <label>原密码</label>
        <input type="password" name="password" class="form-control"/>
      </div>
      <div class="password-field" style="font-weight: bold;font-size:16px;margin-top:5px;">
        <label>新密码</label>
        <input type="password" name="new_password" class="form-control"/>
      </div>


      <div class="submit-field" style="margin-top: 10px;">
        <%= form.submit '保存', :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  .yield{
    width: 250px;
  }
</style>