<div class="yield" style="width: 200px;">
	<%= form_for @user, url: {action: "save_cities"}, method: 'post' do |form| %>
	  <div style="font-weight: bold;font-size:16px;margin-top:5px;">
		  <%= form.label :xls_file,"上传文件" %>
		  <%= form.file_field :xls_file, :class => "form-control" %>
		</div>

	  <div class="submit-field" style="margin-top: 10px;">
	    <%= form.submit '上传', :class => 'btn btn-primary' %>
	  </div>
	<% end %>
</div>